/*MENU*/
.hero {
    background-image: url(../img/libros.jpg);
    height: 120px;
    padding: 2.5%;
}

.img-logo{ 
    @include tamanos(4%, 4%);
    margin-top:1px;
    margin-right: 5%;
    margin-bottom: 1px;
    margin-left: 1px;
}

/*Primera seccion*/
.readerland {
    display: block;
    color: #fff;
    white-space: nowrap;
    border-right: 4px solid;
    width: 22ch;
    animation: typing 3s steps(22), blink .5s infinite step-end alternate; 
    overflow: hidden;
}
.bg-p{ 
    background-image: linear-gradient(to top, #a25f50, #c3ab73);
    background-color: #C27664;

    .img-thumbnail {
        width: 30%;
        height: 30%;
        object-fit: cover;
    }

    .text-white{ 
        padding: 30px;
        
    }
}


/*Carrousel frases*/
.carousel-item img{ 
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.bg-authors{ 
    color: #4c0e0e;
    background-color: #84d2c5d2;
    padding: 1px;
}

/*Cards*/
.tarjetitas {
    display: flex;
    padding: 60px;
    gap: 30px;
    background-color: #84d2c5;
    background-image: linear-gradient(to top, #c3ab73, #6baea3);

    .tarjetita {
        background-color:#B05A7A;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px ;
        flex: 1;
        margin: 3%;
    
    &:hover{ 
        box-shadow: 5px 5px 5px 5px  rgba(114, 113, 113, 0.669);
        background-color: #b05a79a7;
        }

        .tarjetita_imagen{ 
            max-width: 100vh;
            max-height: 70vh;
        }

        .tarjetita_info {
            padding-inline: 20px;
            padding: 0 20px 20px 20px;
        
            .tarjetita_texto{ 
                font-family: $font-family2;
                font-size: $font-size2;
            }

            .tarjetita_boton a{ 
                background-color: #84D2C5;
                border: none;
                color: #191919;
                padding: 10px 24px;
                text-align: center;
                display: inline-block;
                font-size: 18px;
                text-decoration: none;
            }
        }
    }
}








