/*MENU*/
.hero {
    background-image: url(../img/libros.jpg);
    height: 120px;
    padding: 2.5%;
}

.img-logo{ 
    @include tamanos(5%, 5%);
    margin-top:1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
}


/*Primera seccion*/
.readerland {
    display: block;
    color: #fff;
    white-space: nowrap;
    border-right: 4px solid;
    width: 22ch;
    animation: typing 2s steps(22), blink .5s infinite step-end alternate; 
    overflow: hidden;
}
.bg-p{ 
    background-image: linear-gradient(to top, #a25f50, #c3ab73);
    background-color: #C27664;

    .img-thumbnail {
        max-width: 80%;
        max-height: auto;
        object-fit:cover;
        padding: 0px;
    }

    .text-white{ 
        padding: 30px;
        
    }
}


/*Carrousel frases*/
.carousel-item img{ 
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.bg-authors{ 
    color: $black;
    background-color: #84d2c5d2;
    padding-top: 1%;
    padding-right: 8%;
    padding-bottom: 1%;
    padding-left: 8%;
    border-radius: 5px;

    & p:last-child  {
        font-family: $font-family2;
        color: $black;
    }
}

/*Cards*/
.tarjetitas {
    display: flex;
    padding: 60px;
    gap: 30px;
    background-color: $pink;
    background-image: linear-gradient(to top, #c3ab73, $pink);

    .tarjetita {
        background-color:$green;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px ;
        flex: 1;
        margin: 3%;
    
    &:hover{ 
        box-shadow: 5px 5px 5px 5px  rgba(114, 113, 113, 0.669);
        background-color: $green;
        }

        .tarjetita_imagen{ 
            max-width: 100%;
            height: 50%;
        }

        .tarjetita_info {
            padding-inline: 20px;
            padding: 0 20px 20px 20px;
            color: $black;
        
            .tarjetita_texto{ 
                font-family: $font-family2;
                font-size: $font-size2;
            }

            .tarjetita_boton a{ 
                background-color: $pink;
                border: none;
                color: #f8f4f4;
                padding: 10px 24px;
                text-align: center;
                display: inline-block;
                font-size: 20px;
                text-decoration: none;
            }
        }
    }
}


