@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

$font-size2: 21px;
$font-size3: 16px;
$font-size4: 18px;
$font-family2: 'Josefin Sans', sans-serif;
$black: #100f0f;
$green: #84D2C5;
$pink: #B05A7A;


